@import url(http://fonts.googleapis.com/css?family=Satisfy);
body {
	margin:0;
} 
.container {
	width:100%;
	height:100%;
	background:url(img.jpg) no-repeat center center;
	background-size:cover;
	position:absolute;
}
figure {
	margin:0;
}
html, body {
	height:100%;
	margin:0;
	font-family: 'Satisfy', cursive;
	background:black;
	overflow: hidden;
}
article {
	position:absolute;
	top:50%;
	left:50%;
	color:white;
	z-index:1;
	width:600px;
	height:200px;
	margin:-100px 0 0 -300px;
	text-align:center;
}

a {
	color:white;
	text-decoration:none;
	font-size:70px;
	display:block;
	margin:0 0 30px;
	width:100%;
}
span.btn {
	display:inline-block;
	background: rgba(0,0,0,0.5);
	padding: 15px;
	color: white;
	font-size: 17px;
	cursor:pointer;
}